{% extends './components/_layout.njk' %}
{% set title = "Home" %}
{% set mainClass = "home" %}

{% block content %}

<!-- maincontent -->
<main class="main-content">
  <div class="container">
    <div class="block">
      <h1 class="block__title">
        Test page
      </h1>
    </div>
    <div class="block">
      {% include "./components/_form.njk" %}
    </div>
  </div>
</main> <!-- ./maincontent -->

{% endblock %}
