<form class="form" action="https://formspree.io/dmn.mk.ua@gmail.com" method="post">
  <input type="text" name="name" value="" placeholder="Your name" class="form__input">
  <input type="text" name="surname" value="" placeholder="Your surname" class="form__input">
  <input type="email" name="email" value="" placeholder="Your email" class="form__input">
  <input type="submit" value="Send">
</form>
