<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/main.min.css">
  <title>{{ title }}</title>
</head>
<body>

  <!-- wrapper -->
  <div class="wrapper {{mainClass}}">

    <!-- header -->
    <header class="header">

    </header>
    <!-- ./header -->

    {% block content %}

    {% endblock %}

    <!-- footer -->
    <footer class="footer">
        
    </footer>
    <!-- ./footer -->

</div>
<!-- ./wrapper -->


<!-- SCRIPTS -->
<script src="./js/main.prod.js"></script>
</body>
</html>
